<h2>Formulaire réactif (avec FormBuilder)</h2>
<form [formGroup]="personneForm" (ngSubmit)="afficher()">
  <div>
    <label for="nom">Nom</label>
    <input type="text" id="nom" formControlName="nom" />
    @if (nom.errors) {
      @if (nom.errors['required']) {
        <span>Ce champ est obligatoire</span>
      } @else {
        {{ nom.errors['majuscule'] }}
      }
    }
  </div>
  <div>
    <label for="prenom">Prénom</label>
    <input type="text" id="prenom" formControlName="prenom" />
    @if (prenom.errors) {
      @if (prenom.errors['required']) {
        <span>Ce champ est obligatoire</span>
      } @else {
        Ce champ doit commencer par une majuscule et contenir entre 3 et 30 lettres et espaces
      }
    }
  </div>
  <div>
    <label for="age">Âge</label>
    <input type="number" id="age" formControlName="age" />
    @if (age.errors) {
      <span>Ce champ est obligatoire</span>
    }
  </div>
  <div formGroupName="adresse">
    <h3>Adresse</h3>
    <div>
      <label for="ville">Ville</label>
      <input type="text" id="ville" formControlName="ville" />
      <!-- @if (ville.errors) {
            <span>Ce champ est obligatoire</span>
            } -->
    </div>
    <div>
      <label for="codePostal">Code postal</label>
      <input type="text" id="codePostal" formControlName="codePostal" />
      <!-- @if (ville.errors) {
            <span>Ce champ est obligatoire</span>
            } -->
    </div>
  </div>
  <div formArrayName="sports">
    <h3>Sports</h3>
    <div>
      <button type="button" (click)="ajouterSport()">Ajouter un sport</button>
    </div>
    @for (sport of sports.controls; track sport) {
      <div formControlName="commentLine">
        <label [for]="'sport' + $index">Sport {{ $index + 1 }} : </label>
        <input type="text" [formControlName]="$index" [id]="'sport' + $index" />
        <button type="button" (click)="supprimer($index)">Supprimer</button>
      </div>
    }
  </div>

  <div>
    <button [disabled]="personneForm.invalid">Afficher</button>
  </div>
</form>
<ul>
  @for (p of personnes; track $index) {
    <li>{{ p.nom }} {{ p.prenom }}</li>
  }
</ul>
