<nav>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="">Accueil</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/about">À propos</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/observable">Observable</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/subject">Subject</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/computed">Valeurs calculées</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/formulaire">Template-driven forms</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/reactive">Reactive Forms</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/builder">Reactive Forms (FormBuilder)</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/signal-form">Signal Forms (Angular 21)</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/personne">Service + HTTP</a>
    </li>
  </ul>
</nav>
